DB_CONNECTION_STRING=postgresql://<username>:<password>@<url>:<port>/<db-name>
TEST_DB_CONNECTION_STRING=postgresql://<username>:<password>@<url>:<port>/<test-db-name>
NODE_ENV=development
NEXTAUTH_SECRET=mynextsecret123

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OPENAI_API_KEY=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=
NEXT_PUBLIC_APP_URL=http://localhost:4000

# For S3:
S3_ENDPOINT=
S3_REGION=
DIGITAL_OCEAN_SPACES_BUCKET=
DIGITAL_OCEAN_SPACES_KEY=
DIGITAL_OCEAN_SPACES_SECRET=
